@import url("../fonts/font/stylesheet.css");


.main {
    background-color: #151515;
}

.container-main-content {
    max-width: calc(100% - 460px);
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 100px;
}

.nav-logo {
    width: 216px;
    height: 33px;
    background-image: url("../images/header-logo.png");
    margin-top: 6px;
}

.nav-button {
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
}

.nav-button-text{
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 25px 10px 25px;
    text-align: center;
}

.nav-button-text::before {
    content: url("../images/Vector.png");
    padding-right: 10px;
}

.main-title {
    font-family: 'Gilam Thin DEMO', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.main-description {
    font-family: 'Gilam DEMO', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    
    margin-bottom: 41px;
}

.main-item-infrastructure {
    display: grid;
    grid-gap: 27px;
    text-align: center;

    grid-template-areas:
        "item1 item1 item2 item2 item3 item3"
        "item4 item4 item4 item5 item5 item5"
    ;
}

.main-item1 {
    width: 467px;
    height: 468px;
    grid-area: item1;
    background: #634F2C;
    display: flex;
}

.main-item2 {
    width: 467px;
    height: 468px;
    grid-area: item2;
    background: #B4A385;
    display: flex;
}

.main-item3 {
    width: 467px;
    height: 468px;
    grid-area: item3;
    background: #E4B564;
    display: flex;
}

.main-item4 {
    width: 715px;
    height: 468px;
    grid-area: item4;
    background: #B08C4D;
    display: flex;
}

.main-item5 {
    width: 715px;
    height: 468px;
    grid-area: item5;
    background: #635A4A;
    display: flex;
}

.main-item-text {
    font-family:'Gilam DEMO', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;

    width: 100%;
    align-self: center;
}

.title-building {
    font-family: 'Gilam  DEMO', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;

    margin-top: 161px;
    margin-bottom: 94px;
}

.main-item-building {
    display: grid;
    grid-gap: 27px;
    grid-template-areas:
        "item-building1 item-building2 item-building3"
        "item-building4 item-building2 item-building6"
        "item-building4 item-building5 item-building6"
        "item-building4 item-building5 item-building7"
    ;
    padding-bottom: 200px;
}

.main-item-building1 {
    width: 467px;
    height: 313px;
    display: flex;
    grid-area: item-building1;
    background: #0E0E0E;
}

.main-item-building2 {
    width: 467px;
    height: 107%;
    display: flex;
    grid-area: item-building2;
    background: #242424;
}

.main-item-building3 {
    width: 467px;
    height: 100%;
    display: flex;
    grid-area: item-building3;
    background: #1F1F1F;
}

.main-item-building4 {
    width: 467px;
    height: 100%;
    display: flex;
    grid-area: item-building4;
    background: #1F1F1F;
}

.main-item-building5 {
    width: 467px;
    height: 90%;
    display: flex;
    align-self: end;
    grid-area: item-building5;
    background: #E4B564;
}

.main-item-building6 {
    width: 467px;
    height: 313px;
    display: flex;
    grid-area: item-building6;
    background: #0E0E0E;
}

.main-item-building7 {
    width: 467px;
    height: 277px;
    display: flex;
    grid-area: item-building7;
    background: #0A0909;
}

.main-item-building-text {
    font-family: 'Gilam Thin Italic DEMO', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    color: #FFFFFF;

    padding-left: 55px;
    padding-top: 44px;
}

.car-type {
    font-family: 'Gilam  DEMO', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: block;
    color: #FFFFFF;
}

.footer {
    background: #0E0E0E;
}

.container-projects {
    max-width: calc(100% - 460px);
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
    padding-bottom: 72px;
}

.title-projects {
    font-family: 'Gilam  DEMO', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;

    color: #FFFFFF;
}

.footer-link {
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
}

.footer-text {
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    padding: 13px 40px 10px 40px;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    height: 800px;
    padding-bottom: 230px;
}

.footer-blocks1 {
    display: flex;
    background: #634F2C;
}

.footer-blocks2 {
    background: rgba(232, 210, 171, 0.76);
}

.footer-blocks3 {
    display: flex;
    background: #E4B564;
}

.footer-blocks4 {
    display: flex;
    background: #635A4A;
}

.footer-blocks5 {
    display: flex;
    background: #B08C4D;
}

.footer-blocks6 {
    display: flex;
    background: #634F2C;
}

.footer-blocks2-text-bold {
    font-family: 'Gilam  DEMO', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    color: #FFFFFF;
}

.footer-blocks2-text-inc {
    font-family: 'Gilam Thin Italic DEMO', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 16px;
    text-align: center;
    color: #FFFFFF
}

.footer-blocks2-image {
    display: block;
    margin: auto;
}

.footer-blocks2-margin {
    margin-top: 61px;
}

.image-block {
    width: 100%;
    align-self: center;
    margin: 5px;
}